.right-sidebar {
  float: right;
  width: 300px;
  margin: 40px 0px 15px 24px;
  font-size: 15px;
}

.widget {
  margin-top: 10px;
  box-shadow: 3px 3px 10px var(--box-shadow), -3px -3px 10px var(--box-shadow);
}

.widget h4 {
  background-color: var(--widget-bg);
  margin: 0%;
  padding: 15px;
  border: solid 1px var(--widget-border);
  font-size: 13px;
}

.right-sidebar-div-1 {
  background-color: var(--secondary);
  padding: 15px;
  border: solid 1px var(--widget-border);
}

.right-sidebar-div-1 .right-sidebar-div-2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.right-sidebar-div-1 .right-sidebar-div-2 p {
  padding-left: 10px;
  margin-top: 0%;
  font-size: 13px;
}

.widget-tags {
  margin-top: 40px;
  box-shadow: 3px 3px 10px var(--box-shadow), -3px -3px 10px var(--box-shadow);
  border: solid 1px var(--widget-border);
}

.widget-tags h4 {
  margin: 0%;
  padding: 15px;
  background-color: var(--widget-tags-bg);
  border: solid 1px var(--widget-tags-border);
  font-size: 13px;
}

.widget-tags-div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  border: solid 1px var(--widget-tags-border);
  padding: 10px;
}

.widget-tags-div p {
  padding: 5px;
  background-color: var(--tags-bg);
  color: var(--tags-text);
  border-radius: 2px;
  font-size: 13px;
}

@media screen and (max-width: 1020px) {
  .right-sidebar {
    display: none;
  }
}
