.left-sidebar {
  width: 164px;
  box-shadow: 1px 1px 0 var(--box-shadow-dark);
  height: auto;
  min-height: 100vh;
  transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
  box-sizing: border-box;
  font-size: 13px;
}

.side-nav {
  height: auto;
  max-width: 100%;
  position: sticky;
  margin: 50px 0px;
  padding: 20px 0px;
}

.side-nav-div {
  padding: 10px 0px;
}

.side-nav-div div {
  padding-left: 10px;
}

.side-nav-links {
  text-decoration: none;
  color: var(--textcolor);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  transition: 0.2s;
}

.side-nav-links:hover {
  color: var(--icon);
}

.active {
  font-weight: bolder;
  color: var(--textcolor);
  background-color: var(--nav-link-hover-bg);
  border-right: solid 3px var(--icon);
}

.askAi {
  position: fixed;
  background-color: var(--primary);
  border: 1px solid var(--box-shadow-dark);
  color: var(--black);
  border-radius: 1rem;
  padding: 10px 20px;
  margin-left: 2rem;
  top: 90vh;
  cursor: pointer;
  box-shadow: 3px 3px 10px var(--box-shadow-light),
    -3px -3px 10px var(--box-shadow-light);
}

.askAi:hover {
  background-color: var(--secondary);
  color: var(--icon);
}

@media screen and (max-width: 760px) {
  .left-sidebar {
    position: absolute;
    transform: translateX(-100%);
    z-index: 10;
  }
}
