.main-nav {
  min-height: 50px;
  width: 100%;
  margin: 0% auto;
  border-top: solid 3px var(--icon);
  box-shadow: 0px 1px 5px var(--nav-box-shadow);
  position: fixed;
  z-index: 15;
  top: 0%;
  left: 0%;
  background-color: var(--widget-tags-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 100%;
  min-width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-in-icon {
  display: none;
  transition: 0.2s;
  padding: 5px 6px 3px 6px;
  border-radius: 50%;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.navbar .navbar-1 {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.navbar .navbar-1 .menubar {
  align-items: "center";
  justify-content: "center";
  font-size: 1.5rem;
  color: var(--black);
  display: none;
}

.navbar .navbar-2 {
  display: flex;
  align-items: center;
}

.nav-logo {
  padding: 0px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.nav-logo p {
  font-size: 15px;
}
.nav-item {
  margin: 0px 3px;
  font-size: small;
  font-weight: 500;
  text-decoration: none;
  color: var(--nav-text);
  transition: 0.2s;
  margin-block: 2px;
}

.nav-btn {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
}

.nav-item:hover,
.slide-in-icon:hover {
  background-color: var(--nav-link-hover-bg);
}

.navbar .navbar-1 form {
  flex-grow: 1;
  padding: 0px 12px;
  position: relative;
}

.navbar .navbar-1 form input {
  min-width: 90%;
  margin: 0;
  padding: 8px 10px 8px 32px;
  font-size: 13px;
  border: solid 1px var(--input-border);
  border-radius: 3px;
}

.navbar .navbar-1 form .search-icon {
  position: absolute;
  left: 25px;
  top: 8px;
}

.nav-links {
  padding: 7px 13px;
  border: solid 1px var(--accent);
  border-radius: 3px;
  background-color: var(--nav-bg);
  cursor: pointer;
}

.nav-links:hover {
  background-color: var(--nav-links-hover-bg);
}

@media screen and (max-width: 1120px) {
  .navbar .navbar-1 form {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .slide-in-icon {
    display: block;
  }
  .navbar .navbar-1 .menubar {
    display: flex;
  }
}

@media screen and (max-width: 620px) {
  .navbar .navbar-1 .res-nav {
    display: none;
  }
}
